<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration step 1</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"> 

    <!-- Style CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <!--Overlay Effect-->
    <div
        class="fixed qqhidden inset-0 bg-white bg-opacity-50 overflow-y-auto h-full w-full"
        id="my-modal"
    >
        <!--modal content-->
        <div class="relative top-20 mx-auto p-5 py-8 border qqw-96 max-w-2xl shadow-lg rounded-md bg-white">
            <div class="h2 text-center">What do you want to learn?</div>
            <form action="/" method="post" class="mb-6 max-w-md mx-auto"> 
                <p class="text-center mb-3">Category *</p>
                <div class="checkbox-list mb-4 px-4">
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat1" class="hidden">
                        <label for="cat1" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Online
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat2" class="hidden">
                        <label for="cat2" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Real Estate
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat3" class="hidden">
                        <label for="cat3" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Online
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat4" class="hidden">
                        <label for="cat4" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Real Estate
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat5" class="hidden">
                        <label for="cat5" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Low capital needed
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat6" class="hidden">
                        <label for="cat6" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Online
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat7" class="hidden">
                        <label for="cat7" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Real Estate
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat8" class="hidden">
                        <label for="cat8" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Online
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat9" class="hidden">
                        <label for="cat9" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Real Estate
                        </label>
                    </div>
                    <div class="checkbox-list-item inline-block m-1">
                        <input type="checkbox" name="category" id="cat10" class="hidden">
                        <label for="cat10" class="tag relative cursor-pointer label-checked:bg-c-pink label-checked:text-white">
                            <span class="btn-remove w-4 h-4 rounded-full bg-white bg-x bg-no-repeat bg-center  shadow-md absolute -top-1 -right-1 cursor-pointer"></span>
                            Low capital needed
                        </label>
                    </div>
                </div>

                <div class="text-center mb-5">
                    <button class="more text-c-gray-dark underline hover:no-underline">more</button>
                </div>
                
                <button type="button" class="capitalize btn btn-pink w-full p-3 rounded">save</button>
            </form>
        </div>
    </div>
</body>
</html>